
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Damion);


.sp-player a {
	color: #5DB2FF;
	text-decoration: none;
	outline: none;
}

.sp-player
{
	font-family: 'Raleway', Calibri , sans-serif;
    font-size: 12px;
	width: 750px;
	height : 480px;
	margin: 10px auto;
	position: relative;
	background: url(../../images/bg.png) repeat top left; /* Old browsers */
	box-shadow: 0 0 1px #555;

}

.sp-player-left
{
	width : 30%;
	position: absolute;
	left:0;
	bottom: 0;
	top:0;
	box-shadow: inset 0 0 3px #555; 
	
}
.sp-player-right
{
	width : 70%;
	position: absolute;
	right:0;
	bottom: 0;
	top:0;  	
}
.sp-player-right-top
{
	height: 90%;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	
	box-shadow: inset 0px 0px 2px #555;
}

.sp-player-right-bottom
{
	height: 10%;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	box-shadow:inset  0px 0px 2px #555;
}
.sp-player .slides,
.sp-player .slide {
	
	position: absolute;
	background: #FFFFFF;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	
}
.sp-player .owl-item {
	overflow: hidden;
	width:100%;
	height: 100%;

}
.sp-player .owl-item > div {
    overflow: hidden;
    width: 98%;
    height: 98%;
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 1%;
}

.sp-player .owl-item > div ul{
    margin-left: 4%;
}


/*************************
* La partie gauche
*
*/

.sp-player-profil{
	width: 100%;
	height: 15%;
	padding: 2%;
	position: relative;
	color : #FFF;
	text-decoration: none;
}

.sp-player-profil a.sp-name-profil{
	color : #FFF;
	font-size: 0.9em;
    font-family:  Calibri , sans-serif;
	text-decoration: none;
	position : absolute;
		top :11%;
		left: 18%;

}
.sp-player-profil h4{
     font: bold 1.1em 'Raleway' , calibri, sans-serif;
     color: #EFEFEF;
	 position : relative;
		
}
.sp-player-tabs{
	height:81%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	/*background: rgba(80,80,80,0.5);*/

}


.sp-player .content{
	height: 90%;
	overflow: auto;
}



.sp-player .hr{
	width: 100%;
	height:1px;
	margin :0.4em auto;
	background: #555;
	box-shadow:inset  0 0 2px #555;
}
.sp-player .buttons-control{
	position: absolute;
	right: 0;
	height: 100%;
	width:20%;
}
.sp-player-right-bottom .btn-next,
.sp-player-right-bottom .btn-prev,
.sp-player .full-screen{
	text-indent: -9999px;
	outline: none;
	width : 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	float: right;
	margin: 15% 8%;
}
.sp-player-right-bottom .btn-next{
	background: url(../../images/next.png) no-repeat;
}
.sp-player-right-bottom .btn-prev{
	background: url(../../images/prev.png) no-repeat;
}
.sp-player .btn-next:hover,
.sp-player .btn-prev:hover,
.sp-player .full-screen:hover{
	opacity: 0.84;
}
.sp-player .btn-next:active,
.sp-player .btn-prev:active,
.sp-player .full-screen:active{
	opacity: 0.2;
}
.sp-player .full-screen{
	position: absolute;
	top: 0;
	margin: 2% 1%;
	background: url(../../images/fullscreen_.png) no-repeat top left;
}


/**************QCM*******************/
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: 1060;
    background: url(../../images/loading.gif) no-repeat 50% 50%,#FFF;
}

.hide
{
    display: none;
}






/****fullScreen***/
.sp-player:-webkit-full-screen{
    width: 98%;
    height: 96%;
    overflow: hidden !important;
    font-size: 1.3em;
}
.sp-player:full-screen{
    width: 98%;
    height: 96%;
    overflow: hidden !important;
    font-size: 1.3em;
}
.sp-player:-ms-full-screen{
    width: 98%;
    height: 96%;
    overflow: hidden !important;
    font-size: 1.3em;
}
.sp-player:-moz-full-screen
{
   width: 98%;
   height: 96%;
   overflow: hidden !important;
    font-size: 1.3em;
}


.sp-player:-webkit-full-screen .owl-item > div
{
    padding: 3%;
    width: 94%;

}
.sp-player:full-screen .owl-item > div
{
    padding: 3%;
    width: 94%;

}
.sp-player:-ms-full-screen .owl-item > div
{
    padding: 3%;
    width: 94%;
}
.sp-player:-moz-full-screen .owl-item > div
{
    padding: 3%;
    width: 94%;
}

/***Button****/
.sp-player:-webkit-full-screen .full-screen{
    background-position: bottom left;
}
.sp-player-player:full-screen .full-screen{
    background-position: bottom left;
}
.sp-player:-ms-full-screen .full-screen{
    background-position: bottom left;
}
.sp-player:-moz-full-screen .full-screen
{
    background-position: bottom left;
}




.sp-presentation-content
{
    width: 100%;
    height: 100%;
}

.sp-player .owl-item:first-child
{
    background: url(../../images/bg-presentation.jpg) no-repeat bottom right;
    background-size: cover;
    font-family: 'Raleway',sans-serif;
}

.sp-presentation-content h2
{
    font-weight: bold ;
    font-size: 2em  ;

    color: #444;
    position: absolute;
    width :60%;
    text-align: right;
    bottom: 10%;
    right: 10%;
}

.sp-presentation-content div
{
    font-size: 1.2em;
    color: #444;
    position: absolute;
    top: 10%;
    left: 10%;
}

.sp-presentation-content h4
{
    line-height: 300%;
}

.sp-presentation-content h4 > strong
{
    text-decoration: underline;
}




@media(max-width: 1000px){
    .sp-player
    {
        height: 336px;
        width: 450px;
        margin: 10px auto;
        position: relative;
        background: url(../../images/bg.png) repeat cover; /* Old browsers */
        box-shadow: 0 0 1px #555;
        font-size: 0.8em;

    }

    .sp-player-left
    {
        display: none;

    }
    .sp-player .buttons-control
    {
        bottom:22%;
    }
    .sp-player-right
    {
        width : 100%;
        position: absolute;
        right:0;
        bottom: 0;
        top:0;
        left: 0;
    }




    .sp-presentation-content h4
    {
        line-height: 200%;
    }
    .sp-presentation-content h2
    {

        font-size: 1.8em;
        text-align: right;
        bottom: 4%;
        right: 4%;
    }

    .sp-presentation-content div
    {
        top: 4%;
        left: 4%;
    }

    .sp-player .sp-result .sp-postit
    {
        margin: 0 auto;
        width: 270px;
        height: 310px;
        font-size:  1em;
    }

}